.scrolling-container{
    height: 15vw;
    /* width: fit-content; */
    display: flex;
    align-items: center;
    overflow: hidden;
}

.scrolling-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    width: fit-content;
    padding: 1rem;
}

.scrolling-content img:hover{
    transition: transform 0.2s linear;

    transform: scale(1.1);
}