nav {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(38,51,97,1) 0%, rgba(65,143,222,1) 79% );
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 5%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;

}

.brand span{
    font-weight: bold;
    color: aliceblue;
    font-size: 20px;
}

.logo {
    width: 100px;
    cursor: pointer;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

ul li .nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    gap: 5px;
}

ul li .nav-items img{
    width: 15px;
}

ul li .nav-items span{
    font-size: 15px;

}

ul li .nav-items span:hover{
    margin-bottom: 10px;
    border-bottom: 2px solid #66FF00;
    font-weight: bold;
    transition: 0.5s;
}

button{
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: black;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}