.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    display: flex;
    justify-content: space-between;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
}

.carousel-item img {
    width: 70%;
    height: auto;
    display: block;
    margin: 25px auto;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control.prev {
    left: 0;
}

.carousel-control.next {
    right: 0;
}